<!-- Template for the city component -->
<div style="text-align:center">
  <h1>
    City forecast in the next hours
  </h1>
  <p>Extended forecast for every 3 hours in the next 5 days</p>
</div>
<div id="map">

</div>
<div id="cityCont" class="container">
    <button (click)="goBack()" class="btn btn-primary">Go Back</button>
    <h2 *ngIf="dataCity.city">
      <img src="https://openweathermap.org/img/w/{{dataCity.list[0].weather[0].icon}}.png" class="forecast-icon" alt="forecast">
      {{dataCity.list[0].weather[0].description}} in {{dataCity.city.name}}, {{dataCity.city.country}}
    </h2>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th>At (date-time)</th>
            <th>Temperature min/max (C)</th>
            <th>Pressure</th>
            <th>Humidity</th>
            <th>Forecast</th>
            <th></th>
            <th>Wind speed (m/s)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cityForecast of dataCity.list">
            <td class="forecast-info forecast-0">{{cityForecast.dt_txt}}</td>
            <td class="forecast-info forecast-1">{{cityForecast.main.temp_min}}/{{cityForecast.main.temp_max}}</td>
            <td class="forecast-info forecast-2">{{cityForecast.main.pressure}}</td>
            <td class="forecast-info forecast-3">{{cityForecast.main.humidity}}</td>
            <td class="forecast-info forecast-4"><img src="https://openweathermap.org/img/w/{{cityForecast.weather[0].icon}}.png" class="forecast-icon" alt="forecast"></td>
            <td class="forecast-info forecast-4">{{cityForecast.weather[0].description}}</td>
            <td class="forecast-info forecast-5">{{cityForecast.wind.speed}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
